{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Créer un compte | Appretruct</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl-NTUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="{% static 'appretrut/inscription.css' %}">
</head>

<body>

<header class="container-fluid page-header">
    <div class="brand">APPRETRUCT</div>
    <p class="text-white">Rejoignez APPRETRUCT dès aujourd’hui</p>
</header>


<div class="page-shell">

    <main class="signup-card">

        <section class="welcome-area">
            <h1>Créer un compte</h1>
        </section>
<section class="form-area">

    {% if form.errors %}
        <div class="alert alert-danger">
            <strong>Erreur dans le formulaire :</strong>
            {{ form.errors }}
        </div>
    {% endif %}

    <form id="inscriptionForm"
          method="POST"
          enctype="multipart/form-data">

                {% csrf_token %}


                <div class="form-grid">


                    
                    <div class="field">
                        <label for="nom2">Nom</label>

                        <input
                            id="nom2"
                            name="nom"
                            type="text"
                            placeholder="Votre nom"
                            required>
                    </div>


                    
                    <div class="field">
                        <label for="prenom2">Prénom</label>

                        <input
                            id="prenom2"
                            name="prenom"
                            type="text"
                            placeholder="Votre prénom"
                            required>
                    </div>


                    
                    <div class="field full">

                        <label for="date-naissance2">
                            Date de naissance
                        </label>

                        <input
                            id="date-naissance2"
                            name="date_naissance"
                            type="date"
                            required>

                    </div>


                    
                    <div class="field full">

                        <label for="email2">
                            Adresse e-mail
                        </label>

                        <input
                            id="email2"
                            name="email"
                            type="email"
                            placeholder="exemple@email.com"
                            required>

                    </div>


                    
                    <div class="field full">

                        <label for="telephone2">
                            Téléphone
                        </label>

                        <input
                            id="telephone2"
                            name="telephone"
                            type="tel"
                            placeholder="Votre numéro"
                            required>

                    </div>


                    
                    <div class="field full">

                        <label for="ville2">
                            Ville
                        </label>

                        <input
                            id="ville2"
                            name="ville"
                            type="text"
                            placeholder="Votre ville"
                            required>

                    </div>


                    
                    <div class="field full">

                        <label for="sexe2">
                            Sexe
                        </label>

                        <select
                            id="sexe2"
                            name="sexe"
                            required>

                            <option value="">
                                Sélectionnez
                            </option>

                            <option value="Masculin">
                                Masculin
                            </option>

                            <option value="Féminin">
                                Féminin
                            </option>

                        </select>

                    </div>


                    <div class="form-section-title full">
                        Informations professionnelles
                    </div>


                    
                    <div class="field full">

                        <label for="metier2">
                            Métier
                        </label>

                        <input
                            id="metier2"
                            name="metier"
                            type="text"
                            placeholder="Votre métier"
                            required>

                    </div>


                    
                    <div class="field full">

                        <label for="experiance2">
                            Expérience
                        </label>

                        <input
                            id="experiance2"
                            name="experience"
                            type="text"
                            placeholder="Ex. : 2 ans dans le domaine"
                            required>

                    </div>


                    
                    <div class="field full">

                        <label for="niveau2">
                            Niveau d'études
                        </label>

                        <input
                            id="niveau2"
                            name="niveau_etudes"
                            type="text"
                            placeholder="Ex. : Licence, Master..."
                            required>

                    </div>


                    
                    <div class="field full">

                        <label for="nationalite2">
                            Nationalité
                        </label>

                        <select
                            id="nationalite2"
                            name="nationalite"
                            required>

                            <option value="" selected disabled>
                                Sélectionnez votre nationalité
                            </option>

                            <optgroup label="Afrique">

                                <option>Afrique du Sud</option>
                                <option>Algérie</option>
                                <option>Angola</option>
                                <option>Bénin</option>
                                <option>Botswana</option>
                                <option>Burkina Faso</option>
                                <option>Burundi</option>
                                <option>Cameroun</option>
                                <option>Cap-Vert</option>
                                <option>Comores</option>
                                <option>Côte d'Ivoire</option>
                                <option>Djibouti</option>
                                <option>Égypte</option>
                                <option>Érythrée</option>
                                <option>Eswatini</option>
                                <option>Éthiopie</option>
                                <option>Gabon</option>
                                <option>Gambie</option>
                                <option>Ghana</option>
                                <option>Guinée</option>
                                <option>Guinée-Bissau</option>
                                <option>Guinée équatoriale</option>
                                <option>Kenya</option>
                                <option>Lesotho</option>
                                <option>Libéria</option>
                                <option>Libye</option>
                                <option>Madagascar</option>
                                <option>Malawi</option>
                                <option>Mali</option>
                                <option>Maroc</option>
                                <option>Maurice</option>
                                <option>Mauritanie</option>
                                <option>Mozambique</option>
                                <option>Namibie</option>
                                <option>Niger</option>
                                <option>Nigeria</option>
                                <option>Ouganda</option>
                                <option>République centrafricaine</option>
                                <option>République démocratique du Congo</option>
                                <option>République du Congo</option>
                                <option>Rwanda</option>
                                <option>Sénégal</option>
                                <option>Seychelles</option>
                                <option>Sierra Leone</option>
                                <option>Somalie</option>
                                <option>Soudan</option>
                                <option>Soudan du Sud</option>
                                <option>Tanzanie</option>
                                <option>Tchad</option>
                                <option>Togo</option>
                                <option>Tunisie</option>
                                <option>Zambie</option>
                                <option>Zimbabwe</option>

                            </optgroup>


                            <optgroup label="Amérique">

                                <option>Argentine</option>
                                <option>Brésil</option>
                                <option>Canada</option>
                                <option>Chili</option>
                                <option>Colombie</option>
                                <option>Costa Rica</option>
                                <option>Cuba</option>
                                <option>Équateur</option>
                                <option>États-Unis</option>
                                <option>Guatemala</option>
                                <option>Haïti</option>
                                <option>Honduras</option>
                                <option>Jamaïque</option>
                                <option>Mexique</option>
                                <option>Panama</option>
                                <option>Paraguay</option>
                                <option>Pérou</option>
                                <option>Uruguay</option>
                                <option>Venezuela</option>

                            </optgroup>


                            <optgroup label="Asie">

                                <option>Afghanistan</option>
                                <option>Arabie saoudite</option>
                                <option>Chine</option>
                                <option>Corée du Sud</option>
                                <option>Inde</option>
                                <option>Indonésie</option>
                                <option>Irak</option>
                                <option>Iran</option>
                                <option>Israël</option>
                                <option>Japon</option>
                                <option>Jordanie</option>
                                <option>Liban</option>
                                <option>Malaisie</option>
                                <option>Népal</option>
                                <option>Pakistan</option>
                                <option>Philippines</option>
                                <option>Qatar</option>
                                <option>Singapour</option>
                                <option>Thaïlande</option>
                                <option>Turquie</option>
                                <option>Vietnam</option>

                            </optgroup>


                            <optgroup label="Europe">

                                <option>Allemagne</option>
                                <option>Belgique</option>
                                <option>Espagne</option>
                                <option>France</option>
                                <option>Italie</option>
                                <option>Pays-Bas</option>
                                <option>Portugal</option>
                                <option>Royaume-Uni</option>
                                <option>Russie</option>
                                <option>Suisse</option>
                                <option>Ukraine</option>

                            </optgroup>


                            <optgroup label="Océanie">

                                <option>Australie</option>
                                <option>Fidji</option>
                                <option>Nouvelle-Zélande</option>
                                <option>Papouasie-Nouvelle-Guinée</option>
                                <option>Samoa</option>
                                <option>Tonga</option>
                                <option>Vanuatu</option>

                            </optgroup>

                        </select>

                    </div>


                    <!-- DOMAINE -->
                    <div class="field full">

                        <label for="domaine2">
                            Domaine d’activité
                        </label>

                        <select
                            id="domaine2"
                            name="domaine"
                            required>

                            <option value="">
                                Sélectionnez votre domaine
                            </option>

                            <option value="Informatique & Digital">
                                Informatique & Digital
                            </option>

                            <option value="Santé & Médical">
                                Santé & Médical
                            </option>

                            <option value="Industrie & Génie Technique">
                                Industrie & Génie Technique
                            </option>

                            <option value="BTP & Construction">
                                BTP & Construction
                            </option>

                            <option value="Finance, Banque & Comptabilité">
                                Finance, Banque & Comptabilité
                            </option>

                            <option value="Administration & Ressources Humaines">
                                Administration & Ressources Humaines
                            </option>

                            <option value="Commerce & Relation Client">
                                Commerce & Relation Client
                            </option>

                            <option value="Marketing & Communication">
                                Marketing & Communication
                            </option>

                            <option value="Transport & Logistique">
                                Transport & Logistique
                            </option>

                            <option value="Éducation & Formation">
                                Éducation & Formation
                            </option>

                            <option value="Agriculture & Agro-industrie">
                                Agriculture & Agro-industrie
                            </option>

                            <option value="Hôtellerie & Tourisme">
                                Hôtellerie & Tourisme
                            </option>

                            <option value="Droit & Sécurité">
                                Droit & Sécurité
                            </option>

                            <option value="Art, Design & Création">
                                Art, Design & Création
                            </option>

                        </select>

                    </div>


                    <div class="form-section-title full">
                        Profil et sécurité
                    </div>


                    
                    <div class="field full">

                        <label for="password2">
                            Mot de passe
                        </label>

                        <input
                            id="password2"
                            name="motdepasse"
                            type="password"
                            placeholder="••••••••"
                            required>

                    </div>


                    
                    <div class="field full">

                        <label for="confirm2">
                            Confirmer le mot de passe
                        </label>

                        <input
                            id="confirm2"
                            name="confirmation"
                            type="password"
                            placeholder="••••••••"
                            required>

                    </div>


                </div>


                
                <div class="field full imgimport">

                    <label for="photo2">
                        Photo de profil
                    </label>

                    <input
                        type="file"
                        id="photo2"
                        name="photo"
                        class="form-control profile-input"
                        accept="image/*">

                </div>


                <div class="field full competence-field">

                    <label for="competence2">
                        Compétences
                    </label>

                    <textarea
                        name="competence"
                        id="competence2"
                        placeholder="Présentez vos principales compétences..."></textarea>

                </div>


                
                <button
                    class="btn-submit"
                    type="submit">

                    CRÉER MON COMPTE

                </button>


            </form>


            <p class="login-link">

                Déjà inscrit ?

                <a href="{% url 'connexion' %}">
                    Se connecter
                </a>

            </p>


        </section>

    </main>

</div>

</body>
</html>

