<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
       
<footer class="text-center text-lg-start bg-body-tertiary text-muted">

  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

    <div class="me-5 d-none d-lg-block text-white">
      <span>Contactez-nous sur les réseaux sociaux :</span>
    </div>


 
    <div class="lien10">
<!-- Facebook -->
<a
 data-mdb-ripple-init
  class="btn text-white btn-floating m-1"
  style="background-color: #3b5998;"
  href="https://www.facebook.com/jared.22596"
  target="_blank"
  role="button">
  <i class="fab fa-facebook-f"></i>
</a>

<!-- Twitter / X -->
<a
  data-mdb-ripple-init
  class="btn text-white btn-floating m-1"
  style="background-color: #000000;"
  href="https://twitter.com/JARED20090"
  target="_blank"
  role="button">
  <i class="fab fa-x-twitter"></i>
</a>

<!-- Email -->
<a
  data-mdb-ripple-init
  class="btn text-white btn-floating m-1"
  style="background-color: #dd4b39;"
  href="mailto:princejared48@gmail.com"
  role="button">
  <i class="fas fa-envelope"></i>
</a>

<!-- Instagram -->
<a
  data-mdb-ripple-init
  class="btn text-white btn-floating m-1"
  style="background-color: #ac2bac;"
  href="https://www.instagram.com/jared925941"
  target="_blank"
  role="button"
>
  <i class="fab fa-instagram"></i>
</a>

<!-- Linkedin -->
<a
  data-mdb-ripple-init
  class="btn text-white btn-floating m-1"
  style="background-color: #0082ca;"
  href="https://www.linkedin.com/in/jared fone/"
  target="_blank"
  role="button"
>
  <i class="fab fa-linkedin-in"></i>
</a>

<!-- Github -->
<a
  data-mdb-ripple-init
  class="btn text-white btn-floating m-1"
  style="background-color: #333333;"
  href="https://github.com/princejared48-rgb"
  target="_blank"
  role="button"
>
  <i class="fab fa-github"></i>
</a>
<!-- WhatsApp -->
<a
  data-mdb-ripple-init
  class="btn text-white btn-floating m-1"
  style="background-color: #25D366;"
  href="https://wa.me/237677064542?text=Bonjour%20je%20vous%20contacte%20depuis%20votre%20site"
  target="_blank"
  role="button"
>
  <i class="fab fa-whatsapp"></i>
</a>
    </div>

  </section>



  <section class="foot">
    <div class="container text-center  text-white text-md-start mt-5">
   
      <div class="row mt-3">
      
        <div class="f col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3"></i>appretrut
          </h6>
          <p class="text-white" >
       Trouvez les meilleures offres d'emploi et recrutez les meilleurs talents grâce à notre plateforme simple, rapide et sécurisée
          </p>
          
        </div>
   
        <div class="f1 col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
         
          <h6 class="text-uppercase fw-bold mb-4">
            navigation
          </h6>
          <p class="text-white">
            <a href="#!" class="text-reset">Accueil</a>
          </p>
          <p class="text-white">
            <a href="#!" class="text-reset">Offres d'emploi</a>
          </p>
          <p class="text-white">
            <a href="#!" class="text-reset">Entreprises</a>
          </p>
          <p class="text-white" >
            <a href="#!" class="text-reset">Candidatures</a>
          </p>
          <p class="text-white">
            <a href="#!" class="text-reset">Tableau de bord</a>
          </p>
          <p class="text-white">
            <a href="#!" class="text-reset">Contact</a>
          </p>
        </div>
  
        <div class="f2 col-md-3 col-lg-2 col-xl-2 mx-auto mb-4  text-white ">
        
          <h6 class="text-uppercase fw-bold mb-4">
            À propos 
          </h6>
          <p class="text-white">
            <a href="#!" class="text-reset  text-white ">FAQ</a>
          </p>
          <p class="text-white">
            <a href="#!" class="text-reset">Conditions d'utilisation</a>
          </p>
          <p class="text-white">
            <a href="#!" class="text-reset">Politique de confidentialité</a>
          </p>
          <p class="text-white">
            <a href="#!" class="text-reset">Nous rejoindre</a>
          </p>
        </div>
   
        <div class="f3 col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
       
          <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
          <p><i class="fas fa-home me-3"></i><a href=""> Douala,Cameroun</a></p>
          <p>
            <a href="mailto:princejared@gmail.com" class="fas h1 fa-envelope me-3"> princejared@gmail.com</a>
          
          </p>
          <p><i class="fas fa-phone me-3"></i> <a href="tel:+237677064542">+237 677 06 45 42</a></p>
          <p><i class="fas fa-print me-3"></i> <a href="tel:+237699881581">+237 699 88 15 81</a></p>
        </div>
   
      </div>
    
    </div>
  </section>
 

 
  <div class="text-center p-4 text-white" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2026 Copyright:
    <a class="text-reset fw-bold" href="mailto:princejared@gmail.com">jared</a> Tout Droit Reserver
  </div>

</footer>
</body>
</html>